@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--collor-primary);
}
.container{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap:8px;
    grid-template-areas: 
        "menu menu menu menu menu menu menu menu menu menu menu menu"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "week week week week sales sales sales sales sales sales balance balance"
        "week week week week sales sales sales sales sales sales devs devs"
        "week week week week sales sales sales sales sales sales devs devs"
        "products products products products products timeline timeline timeline timeline timeline timeline timeline"
        "products products products products products timeline timeline timeline timeline timeline timeline timeline"
        "products products products products products timeline timeline timeline timeline timeline timeline timeline"
        ;

    /* grid-auto-rows: 1fr; coloca las que sobran con la medida */

    width: 800px;
    height: 600px;
    border: 1px solid var(--color-primary);
    margin: 15px auto;
    background: var(--color-secundary);
    border-radius: 5px;
    /* box-shadow: var(--color-shadow); */
}
.container div{
    background: var(--color-primary);
    border-radius: 5px;
}

.item_1{
    background: red;
    grid-area: menu;
}
.item1 div{
    width: 45%;
    display: inline-block;
    background: darkcyan;
}
.item_1__menu ul li{
    display: inline-block;
    margin: 0 15px;
}

.item_1__menu ul{
    text-align: center;
}
.item_1 div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item_1 div ul li{
    list-style: none;
}
.item_1 div ul li a{
    text-decoration: none;
}
.item_2{
    background: blue;
    grid-area: notification;
}
.item_3{
    background: orange;
    grid-area: sales;
}
.item_4{
    background: violet;
    grid-area: balance;
}
.item_5{
    background: salmon;
    grid-area: week;
}
.item_6{
    background: darkcyan;
    grid-area: devs;
}
.item_7{
    background: hotpink;
    grid-area: products;
}
.item_8{
    background: goldenrod;
    grid-area: timeline;
}
@media (width < 600px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "menu menu"
        "sales balance"
        "week week"
        "devs devs"
        "products products"
        "notification notification"
        "timeline timeline"
        ;
    }
    .container div{
        border-radius: 0px;
    }
}