:root{
    --color-primary: rgb(216,216,216);
    --color-secundary: rgb(255,255,255);
    --color-shadow: 3px 3px 5px rgba(0,0,0,0.122);
    --color-font: #00000
}


/* Fuente Click Aqui : https://fonts.google.com/specimen/Roboto+Slab?preview.text=Contact%20Us%20For&query=%5BAachen */
/* Iconos Click Aqui: https://boxicons.com/ */